.main.icon.header {
    font-size: 40px;
    font-weight: normal;
}

.measurements.alternate.stripe {
    margin-top: 5px;
    border-top: 1px solid rgba(34, 36, 38, .15);
    background-color: #F2F3F5 !important;
}

.search.container {
    width: 500px;
    margin: 20px 0;
}

.measurements.log.container {
    width: 500px;
}

.slimScrollDiv {
    width: 500px !important;
    margin: 0 auto;
}

.measurement.item {
    margin:5px;
}